/*
    Colors
    ---------------------
    blue: #4E88FE
    red: #FA615D
    green: #6CD858
    orange: #FCA739
*/



/*-------- BOOTSTRAP CLASSES --------*/
.navbar .dropdown-menu-right {
    right: 0;
    left: auto;
}

.btn-primary{
    border-style: none;
    background-color: #4E88FE;
}

.btn-primary:hover{
    background-color: #0069D9;
}

.btn-primary:focus{
    background-color: #0069D9;
}
.btn-outline-primary{
    color: #4E88FE;
    border-color: #4E88FE;
}

.btn-outline-primary:hover{
    background-color: #0069D9;
}

.navbar{
    padding-left: 0;
}

/*-------- GENERAL HTML  --------*/

/* body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0)),url(../img/boy-child.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
} */

header{
    height: 10vh;

}

footer{
    height: 6rem;
    color: #fff;
    background-color: #0e1720;
}

footer a{
    color: #fff;
    font-size: 14px;

}
footer a:hover {
    color: #FF8000;

}

video{
    position: fixed;
    z-index: -3;
    right: 0;
    bottom: 0;
    width: 100vh;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
}

.gradient-bg{
    background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0));
    position: fixed;
    top: 0;
    height: 50%;
    width: 100%;
    z-index: -2;
}

.dot-mash {
    opacity: .10;
    background: url('../img/dot.png');
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: -1
}

#background-video{
    top: 0;
    left: 0;
}

/*-------- CUSTOM CLASSES --------*/
.kd-h1{
    /* background: -webkit-linear-gradient(left, #FA615D, rgb(255, 162, 40)); */
    background: -webkit-linear-gradient(left, #004895, #4E88FE);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 2.2rem;
    font-family: 'Fredoka One', cursive;
}

.kd-h1 ~ p{
    font-family: 'Poppins', sans-serif;
    color: #424242;
    font-size: 1.4em;
}

.kd-main{
    height: 90vh;
}

.logo{
    height: 40px;
    width: auto;
}

.play-icon{
    padding-left: 5px;
    font-size: 0.7rem;
}

/* Buttons */

.kd-btn{
    border-radius: 3rem;
}

.kd-btn-toggle{
    border-style: none;
    padding: .175rem .45rem;
}

.kd-btn-toggle:hover{
    background-color: transparent;
}
.kd-btn-toggle i{
    color: #4E88FE;
    font-size: 1.5rem;
}

.kd-btn-toggle i:hover{
    color: #0069D9;
}

/* Menu */

.menu a{
    margin: 10px 0;
    padding-left: 10px;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.menu a:nth-child(1){
    border-left: 3px solid #4E88FE;
}

.menu a:nth-child(1):hover,
.menu a:nth-child(1):active{
    border-left: 3px solid #4E88FE;
    background-color: #4E88FE;
    color: #fff;
}

.menu a:nth-child(2){
    border-left: 3px solid #FA615D;
}

.menu a:nth-child(2):hover,
.menu a:nth-child(2):active{
    border-left: 3px solid #FA615D;
    background-color: #FA615D;
    color: #fff;
}

.menu a:nth-child(3){
    border-left: 3px solid #FCA739;
}

.menu a:nth-child(3):hover,
.menu a:nth-child(3):active{
    border-left: 3px solid #FCA739;
    background-color: #FCA739;
    color: #fff;
}

.menu a:nth-child(4){
    border-left: 3px solid #6CD858;
}

.menu a:nth-child(4):hover,
.menu a:nth-child(4):active{
    border-left: 3px solid #6CD858;
    background-color: #6CD858;
    color: #fff;
}

/*--- Login form dropdown ---*/
.login{
    min-width: 15rem;
}

.login-form input,a{
    font-size: .8rem;
}
/*Change for ALERT AS WELL*/
.login-form span{
    font-size: .65rem;
}

.ButtonPlay-circle {
    position: relative;
    width: 50px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
    background-color: #4E88FE;
    color: #fff;
    border-radius: 50%;
    border-style: none;
}

.ButtonPlay-circle:hover{
    border: 3px solid #fff;
    cursor: pointer;
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-out;
	animation-duration: 8s;
}

@keyframes fadeInOpacity {
	/* 0% {
		opacity: 1;
    } */
    80%{
        opacity: 1;
    }
	100% {
		opacity: 0;
	}
}

/*---------- Steps Form ----------*/
.steps {
    display: table;
    width: 100%;
    position: relative;
}
.steps .steps-row {
    display: table-row;
}
.steps .steps-row:before {
    top: 63px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 2px;
    background-color: #4E88FE; }
.steps .steps-row .step{
    display: table-cell;
    text-align: center;
    position: relative;
}
.steps .steps-row .step p{
    margin-top: 0.5rem;
}
.steps .steps-row .step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}
.steps .steps-row .step .btn-circle {
    width: 30px;
    height: 30px;
    text-align: center;
    padding: 6px 0;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
    margin-top: 0;
}

/** Anna **/
/*---------- Fixed Nav bar ----------------------*/

.about-nav {
  background-color: rgb(248, 248, 248);
}

body {
  padding-top: 70px;
}

/*---------- About Page First Quote ----------*/
.main-quote {
  font-size: 35px;
  margin-top: -25px;
  padding-left: 80px;
}



/* ------ Kiddsbay Colors & Font Awesome customised colors -------------*/
.kid-red {
  color: rgba(255,  97,  93, 0.8);
}

.kid-blue {
  color: rgba(78,  137,  255, 0.8);
}

.kid-orange {
  color: rgba(255,  168,  57, 0.8);
}

.kid-green {
  color: rgba(87,  207,  66, 0.8);
}

.first-circle {
  background-color: rgba(255,  168,  57, 0.6);
}
.second-circle {
  background-color: rgba(87,  207,  66, 0.8);
}
.third-circle {
  background-color: rgba(255,  97,  93, 0.8);
}
.fourth-circle {
  background-color: rgba(78,  137,  255, 0.6);
}

.fa-circle-circle-up {
  border-radius: 50%;
  height: 1em;
  width: 1em;
}

/* ------ Customised Dictionary Bubbles------ */

.dictionary-words {
  border: 8px solid rgba(147, 147, 144, 0.5);
  box-shadow: 5px 10px rgba(147, 147, 144, 0.9);
  width: 250px;
  border-radius: 25px;
  padding: 5px 5px 5px 15px;
}
/*
.rotate-class1 {
  transform: rotate(10deg);
}

.rotate-class2 {
  transform: rotate(-15deg);
}

.rotate-class3 {
  transform: rotate(15deg);
} */


/*------------ Kid Founders testimonials -------*/
.founder-testimonial {
  font-size: 35px;
}

/*------------ Custom Img About Page ------------ */
.custom-about-img {
  max-width: 100%;
  box-shadow: 2px 2px 2px 2px rgb(230, 230, 230);
  /* padding-bottom: 20px; */
}

/* ---------- General testimonials ------ */
.general-testimonial1, .general-testimonial3 {
  border-radius: 35px;
  position: relative;
}

.general-testimonial1  {
  background-color: rgba(255,  97,  93, 0.8);
  padding-bottom: 5px;

}

.responsive-text {
  padding-top: 50px;
  padding-bottom: 50px;
}

.general-testimonial1:after {
  border: 13px solid transparent;
	border-left-color: rgba(255,  97,  93, 0.8);
}

.general-testimonial3:after {
  border: 13px solid transparent;
  border-left-color: rgba(255,  168,  57, 0.9);
}

.general-testimonial1:after, .general-testimonial3:after {
  content: '';
	position: absolute;
	right: 0;
	top: 50%;
	width: 0;
	height: 0;
	border-right: 0;
	border-top: 0;
	margin-top: -6.5px;
	margin-right: -13px;
}

.general-testimonial3 {
  background-color: rgb(255,  168,  57, 0.9);
}

.general-testimonial2, .general-testimonial4 {
	position: relative;
	border-radius: 35px;
}

.general-testimonial2 {
  background: rgba(78,  137,  255, 0.7);
}

.general-testimonial2:after {
  border: 13px solid transparent;
	border-right-color: rgba(78,  137,  255, 0.7);
}
.general-testimonial4:after {
  border: 13px solid transparent;
  border-right-color: rgba(87,  207,  66, 0.7);
}

.general-testimonial2:after, .general-testimonial4:after {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 0;
	height: 0;
	border-left: 0;
	border-bottom: 0;
	margin-top: -6.5px;
	margin-left: -13px;
}

.general-testimonial4 {
  background: rgba(87,  207,  66, 0.7);
}

.talktext {
  padding: 1em;
	text-align: justify;
  line-height: 1.5em;
}
.talktext p{
  /* remove webkit p margins */
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

/*----------Responsive ---------*/

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .imgAbt {
          /* visibility: hidden; */
        display: none;
    }
}
