<!DOCTYPE html>
<html lang="en">

<head >
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- other meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- page title -->
    <title>Parent dashboard</title>

    <!-- Fav -->
    <link rel="icon" href="" type="image/png">

    <!-- main css -->
    <link href="../public/css/kiddsbay_style.css" rel="stylesheet"  type='text/css'>
</head>

<body>
<div class="bg">
    <!-- navbar -->
    <nav class="navbar navbar-global fixed-top">
        <div class="container-fluid">
            <div class="navbar-header d-flex flex-column flex-sm-row align-items-center">
                <a class="navbar-brand" href="dashboard_parent.html">
                    <img alt="Kiddsbay logo" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/kiddsbay_logo.svg">
                </a>
                <p class="account-type m-0">Parent account</p>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <p class="navbar-text m-0">{Parent name}</p>
                <p class="navbar-text m-0">{P. surname}</p>
                <a class="navbar-text logout_icon" href="index.html"></a>
            </div>
        </div>
    </nav>
    <!-- content -->
    <div class="guardian">
        <div class="container-fluid">
            <div class="row dashboard-block col-lg-10 col-md-12 mx-auto">
                <h1 class="col-sm-8 orange p-0">Kid accounts linked</h1>
                <div class="col-sm-4 text-right p-0">
                    <a href="" data-toggle="modal" data-target="#addAccount"><button class="btn btn-primary mr-0" type="button">Add kid account</button></a>
                </div>
                <!-- user block -->
                <div class="container-fluid row d-flex p-0 mx-0">
                    <div class="kid-card col-12 col-sm-2 p-0">
                        <div class="thumbnail card m-2">
                            <h4 class="text-center h4 bold">{Kid username}</h4>
                        </div>
                    </div>
                    <div class="col-12 col-sm-10 p-0 mx-auto">
                        <!-- user progress -->
                        <div class="col-12 thumbnail card mx-0 mb-1">
                            <div class="container-fluid p-0">
                                <h3 class="text-center h3 orange bold">Business Map progress</h3>
                                <div class="d-flex align-items-center justify-content-center">
                                    <div class="col-md-8 col-sm-5 progress">
                                        <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                    </div>
                                    <p class="col-md-1 col-sm-2 h4 percentage text-center">{%}</p>
                                    <div class="col-12 col-sm-5 col-md-3 d-none">
                                        <a class="btn btn-primary disabled" href="">View Business Map</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end user progress -->
                        <!-- user challenges -->
                        <div class="challenges col-12 thumbnail card m-0 p-2">
                            <div class="container-fluid p-0">
                                <h3 class="text-center h3 orange bold">Challenges</h3>
                                <div class="d-flex flex-row flex-wrap flex-lg-nowrap justify-content-center justify-content-md-between align-items-center">
                                    <!-- Disabled challenge -->
                                    <div class="challenge-block text-center disabled">
                                        <img class="img-icon" alt="Challenge_3" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/lock_icon.svg">
                                        <h6 class="h6 bold challenge-title d-none">Challenge 3 title</h6>
                                        <p class="h6 bold green d-none">Completed</p>
                                        <a href="" class="btn btn-primary btn-sm m-0 disabled" data-toggle="modal" data-target="#challenge-3">Start</a>
                                    </div>
                                    <!-- end disabled challenge -->
                                    <!-- Disabled challenge -->
                                    <div class="challenge-block text-center disabled">
                                        <img class="img-icon" alt="Challenge_3" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/lock_icon.svg">
                                        <h6 class="h6 bold challenge-title d-none">Challenge 3 title</h6>
                                        <p class="h6 bold green d-none">Completed</p>
                                        <a href="" class="btn btn-primary btn-sm m-0 disabled" data-toggle="modal" data-target="#challenge-3">Start</a>
                                    </div>
                                    <!-- end disabled challenge -->
                                    <!-- Disabled challenge -->
                                    <div class="challenge-block text-center disabled">
                                        <img class="img-icon" alt="Challenge_3" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/lock_icon.svg">
                                        <h6 class="h6 bold challenge-title d-none">Challenge 3 title</h6>
                                        <p class="h6 bold green d-none">Completed</p>
                                        <a href="" class="btn btn-primary btn-sm m-0 disabled" data-toggle="modal" data-target="#challenge-3">Start</a>
                                    </div>
                                    <!-- end disabled challenge -->
                                    <!-- Disabled challenge -->
                                    <div class="challenge-block text-center disabled">
                                        <img class="img-icon" alt="lock_challenge" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/lock_icon.svg">
                                        <h6 class="h6 bold challenge-title d-none">Challenge 4 title</h6>
                                        <p class="h6 bold green d-none">Completed</p>
                                        <a href="" class="btn btn-primary btn-sm m-0 disabled" data-toggle="modal" data-target="#challenge-4">Start</a>
                                    </div>
                                    <!-- end disabled challenge -->
                                    <!-- Disabled challenge -->
                                    <div class="challenge-block text-center disabled">
                                        <img class="img-icon" alt="lock_challenge" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/lock_icon.svg">
                                        <h6 class="h6 bold challenge-title d-none">Challenge 5 title</h6>
                                        <p class="h6 bold green d-none">Completed</p>
                                        <a href="" class="btn btn-primary btn-sm m-0 disabled" data-toggle="modal" data-target="#challenge-5">Start</a>
                                    </div>
                                    <!-- end disabled challenge -->
                                    <!-- Disabled challenge -->
                                    <div class="challenge-block text-center disabled">
                                        <img class="img-icon" alt="lock_challenge" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/lock_icon.svg">
                                        <h6 class="h6 bold challenge-title d-none">Challenge 6 title</h6>
                                        <p class="h6 bold green d-none">Completed</p>
                                        <a href="" class="btn btn-primary btn-sm m-0 disabled" data-toggle="modal" data-target="#challenge-6">Start</a>
                                    </div>
                                    <!-- end disabled challenge -->
                                    <!-- Disabled challenge -->
                                    <div class="challenge-block text-center disabled">
                                        <img class="img-icon" alt="lock_challenge" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/lock_icon.svg">
                                        <h6 class="h6 bold challenge-title d-none">Challenge 7 title</h6>
                                        <p class="h6 bold green d-none">Completed</p>
                                        <a href="" class="btn btn-primary btn-sm m-0 disabled" data-toggle="modal" data-target="#challenge-7">Start</a>
                                    </div>
                                    <!-- end disabled challenge -->
                                </div>
                                <!--Just for the static page/prototype-->
                                <div class="p-2 text-center">
                                    <a class="text-center" href="dashboard_parent_withChallenges.html">See an example of Dashboard with Challenges</a>
                                </div>
                                <!--end Just for the static page/prototype-->
                            </div>
                        </div>
                        <!-- end user challenges -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Add Account Modal [JS] -->
<div class="modal fade" id="addAccount" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered mx-auto" role="document">
        <div class="modal-content text-center p-0">
            <div class="addAccount_bg">
                <button type="button" class="close text-right pr-4 float-right" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-header">
                    <div class="col-12 d-block">
                        <img class="signup_logo col-8 col-sm-6 col-lg-3" alt="Kiddsbay logo" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/kiddsbay_logo.svg">
                    </div>
                    <h5 class="h5 bold">Become a Kiddsbayer!</h5>
                    <div class="row d-flex align-items-start justify-content-center">
                        <h2 class="d-inline orange m-0">Create a kid account</h2>
                        <button type="button" class="badge badge-light popover-test" data-container="body" data-toggle="popover" data-placement="bottom" data-content="The <b>kid account</b> holder is the business founder unleashing their entrepreneurial spirit.<br/><b>We recommend parents and kids create an account together.</b>"
                                data-html="true">?
                        </button>
                    </div>
                </div>
                <div class="modal-body p-0">
                    <form class="text-center form-signup p-0">
                        <div class="form-group">
                            <label for="inputUsername" class="sr-only">Username</label>
                            <input type="text" name="username" id="inputUserName" class="form-control" placeholder="Username" autofocus="">
                        </div>
                        <div class="form-group text-left">
                            <label for="DoB" >Date of birth</label>
                            <input type="date" name='DoB' id="DoB" class="form-control" placeholder="DD/MM/YYYY">
                        </div>
                        <div class="form-group text-left">
                            <p class="label">Gender</p>
                            <div class="row d-flex justify-content-around">
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_boy" value="gender_boy">
                                    <label class="form-check-label" for="gender_boy">Boy</label>
                                </div>
                                <div class="form-check form-check-inline">
                                    <input class="form-check-input" type="radio" name="gender" id="gender_girl" value="gender_girl">
                                    <label class="form-check-label" for="gender_girl">Girl</label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group text-left">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPassword" class="form-control" placeholder="Choose a password">
                        </div>
                        <div class="form-group text-left">
                            <label for="inputPassword" class="sr-only">Password</label>
                            <input type="password" name="password" id="inputPasswordCheck" class="form-control" placeholder="Confirm password">
                        </div>
                        <a href="dashboard_parent_with2kids.html"><button class="btn btn-primary" type="button">Create account</button></a>
                    </form>
                </div>
                <!--<div class="modal-footer text-center"></div>-->
            </div>
        </div>
    </div>
</div>
<!-- Add Account Modal [JS] -->

<!--Parent onboarding-->
<div class="modal" id="parent-step1">
    <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content text-center">
            <div class="modal-header step step-1">
                <div class="col-12 col-md-5 mx-auto">
                    <img class="step-img" alt="Marvin" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/marvin.svg">
                </div>
            </div>
            <div class="modal-body step step-1 text-center">
                <h2 class="h1 bold orange">Congratulations!</h2>
                <h5 class="h5 bold orange">Welcome to the Kiddsbay Community.</h5>
                <h5 class="h5 bold text-center">Are you ready to start your journey?</h5>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-sm btn-primary step step-1" data-dismiss="modal" data-toggle="modal" data-target="#parent-step2">Continue</button>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="parent-step2">
    <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content text-center">
            <div class="modal-header step step-2">
                <div class="col-12 col-md-5 mx-auto">
                    <img class="step-img" alt="Marvin" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/marvin.svg">
                </div>
            </div>
            <div class="modal-body step step-2">
                <h5 class="h5 bold orange">Kiddsbay helps kids to create and launch their own business.<br>Greater success happens when parents and kids collaborate.</h5>
                <h2 class="h1 bold orange">Happy Kiddsbaying!</h2>
            </div>
            <div class="modal-footer">
                <div class="text-center">
                    <a class="btn btn-sm btn-primary" data-dismiss="modal" data-toggle="modal" data-target="#parent-step3">Continue</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal" id="parent-step3">
    <div class="modal-dialog modal-dialog-centered mx-auto">
        <div class="modal-content text-center">
            <div class="modal-header step step-3">
                <div class="col-12 col-md-5 mx-auto">
                    <img class="step-img" alt="Marvin" src="http://lbstatic.kiddsbay.com.s3.amazonaws.com/public/img/marvin.svg">
                </div>
            </div>
            <div class="modal-body step step-3">
                <h5 class="h5 bold text-center">Finally…</h5>
                <h5 class="h5 bold text-center">…you can login into the Parent Dashboard to track how your kid is progressing.</h5>
                <div class="text-center">
                    <a class="btn btn-sm btn-primary" data-dismiss="modal">Go to parent dashboard</a>
                    <p>Or you can also:</p>
                    <div class="d-flex col-12">
                        <a class="col-6" href="index.html">Log out to log in as a kid</a>
                        <a class="col-6" href="" data-dismiss="modal" data-toggle="modal" data-target="#addAccount" >Link another kid account</a>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
            </div>
        </div>
    </div>
</div>
<!--end Parent onboarding-->
<!-- page Script -->

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<!-- page scripts -->
<!-- popover -->
<script>
    $(document).ready(function(){
        $('[data-toggle="popover"]').popover();
    });
</script>
<script type="text/javascript">
    $(window).on('load', function () {
        $('#parent-step1').modal('show');
    });
</script>

</body>
</html>