@import url('https://fonts.googleapis.com/css?family=Dosis:400,600,700');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,800');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css');

/* GENERAL */
html, body {
    height: 100%;
}
body {
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 200;
    color: #4A4A4A;
    font-size: 14px;
}
.orange {
    color: #FEA739;
}
.b-orange {
    border-color: #FEA739;
}
.blue {
    color: #4E88FE;
}
.b-blue {
    border-color: #4E88FE;
}
.green{
    color: #57CE42;
}
.b-orange {
    border-color: #57CE42;
}
.red {
    color: #FE615D;
}
.b-red {
    border-color: #FE615D;
}
.grey {
    background-color: #f8f8f8;
}
.purple {
    color: #8C4E9B;
}
.turquoise{
    color: #65C8D0;
}
.yellow{
    color: #efcc3a;
}
h1,h2 {
    font-family:'Dosis', sans-serif;
    font-weight: 700;
}
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family:'Dosis', sans-serif;
    font-weight: 500;
}
h1 {
    margin: 40px 0;
}
h2 {
    margin-bottom: 30px;
}
.title {
    margin: 30px 0;
}
.block {
    margin-bottom: 40px;
}
p .bold {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
}
.bold {
    font-weight: 700;
}
.empty-status {
    padding-top: 30px;
    color: #cccccc;
    font-style: italic;
}

a, .btn-link {
    font-family:'Dosis', sans-serif;
    font-weight: 600;
    color: #4E88FE;
}
a:hover, .btn-link:hover {
    color:#0b37fe;
    text-decoration: none;
}
a .btn {
    padding-right: 15px;
    padding-left: 15px;
}
a:not([href]):not([tabindex]) {
    color: #ffffff;
}
a:not([href]):not([tabindex]):hover {
    color: #ffffff;
}
.btn {
    border-radius: 20px;
    border: none;
    padding: 4px 30px;
    margin: 20px;
}

.btn-primary {
    background: #4E88FE;
    font-family:'Dosis', sans-serif;
    font-weight: 600;
    border: 2px solid #4E88FE;
}
.btn-primary:hover {
    background: #0b37fe;
    border: 2px solid #0b37fe;
}
.btn-secondary {
    color:#4E88FE;
    background: none;
    font-family:'Dosis', sans-serif;
    font-weight: 600;
    border: 2px solid #4E88FE;
}
.btn-secondary:hover {
    color: #0b37fe;
    background: none;
    border: 2px solid #0b37fe;
}
.btn.disabled, .btn:disabled {
    opacity: .30;
}
.btn-link {
    border: none;
}
.bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #f8f8f8;
    overflow-y: auto;
    overflow-x: hidden;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

img {
    margin: 0;
}
/* end GENERAL*/
/* LOG IN */
/*.login_bg {
    background: url('../img/login_bg_lg.svg') bottom left no-repeat;
    background-size: cover;
}*/
.login_bg {
    height: 100%;
    background: url('../img/login_1.svg') bottom left no-repeat, url('../img/login_2.svg') top right no-repeat;
    background-size: 30%, 30%;
}
.login_bg img {
    margin-top: 12%;
    width: 380px;
    max-width: 50%;
}
.form-signin, .form-signup {
    width: 100%;
    max-width: 500px;
    padding: 15px;
    margin: auto;
}
.form-signup {
    max-width: 330px;
}
.form-signin .form-control, .form-signup .form-control  {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 7px 12px;
    font-size: 12px;
    border: 2px solid #8c8c8c;
    color:#000000;
    border-radius: 5px;
}
.form-signin:focus, .form-control:focus, .form-signup:focus {
    z-index: 2;
    border-color: #4E88FE;
}
.form-signin .form-group, .form-signup .form-group  {
    margin: 20px 0;
}
.form-group input {
    max-width: 330px;
    margin: auto;
}
.step-form .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px 18px;
    font-size: 16px;
    border-radius: 5px;
    border: 2px solid #FEA739 !important;
}
.form-signup .form-group .form-control {
    border: 2px solid #8c8c8c;
}
.step-form ::-webkit-input-placeholder {
     font-style: italic;
 }
.step-form :-moz-placeholder {
    font-style: italic;
}
.step-form ::-moz-placeholder {
    font-style: italic;
}
.step-form :-ms-input-placeholder {
    font-style: italic;
}


/* SIGN UP */
.signup_bg {
    height: 95vh;
    background: url('../img/cloud_bg_1.svg') top left no-repeat, url('../img/cloud_bg_2.svg') bottom right no-repeat;
    background-size: 25%, 25%;
}
.addAccount_bg {
    margin: 20px 0;
    background: url('../img/cloud_bg_1.svg') top left no-repeat, url('../img/cloud_bg_2.svg') bottom right no-repeat;
    background-size: 25%, 25%;
}
.signup_logo {
    max-width: 240px;
}
label, .label {
    font-size: 14px;
    color: #cccccc !important;
}
.badge {
    margin: 0 .4em;
    padding: .25em .4em;
    border-radius: 3rem;
}
.badge-light {
    font-size: 16px;
    color: #4E88FE;
    border: 2px solid #4E88FE;
    background-color: transparent;
}
.badge-light:hover {
    border: 2px solid #0b37fe;
    color: #0b37fe;
}
.popover {
    background-color: #ffedd7;
    width: 80%;
    max-width: 460px;
    font-size: 14px;
    border: none;
}
.popover-body {
    color: #9f9f9f;
}


/* CSS popup */

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 1040;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}

.popup {
    margin: 70px auto;
    padding: 40px 0;
    background: #fff;
    border-radius: 5px;
    position: relative;
    transition: all 5s ease-in-out;
}

.popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
}
.popup .content {
    overflow: auto;
}

/* end CSS popup */

/* ONBOARDING */
.multi-step .modal-footer {
    padding: 0 !important;
}
.multi-step p {
    margin: 0 !important;
}
.multi-step a .btn {
    margin: 5px !important;
}
/* end ONBOARDING */

/* DASHBOARD */
.navbar {
    width: 100%;
    height: 72px;
    background-color: #ffffff;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
}
.navbar-brand img {
    max-width: 160px;
}
.navbar-right {
    margin-right: 30px;
}
.navbar-text {
    font-family:'Dosis', sans-serif;
    font-weight: 400;
    font-size: 18px;
    padding: 0 20px;
}
.account-type {
    font-family:'Dosis', sans-serif;
    font-weight: 600;
    font-size: 18px;
    color:#cccccc;
}
.navbar-header, .navbar-user {
    max-width: 50%;
}
.logout_icon {
    width: 43px;
    height: 36px;
    background: url('../img/icon_logout.svg') center center no-repeat;
}
.logout_icon:hover {
    background: url('../img/icon_logout_hover.svg') center center no-repeat;
}
.dashboard-block {
    max-width: 1280px;
}
.card {
    border: none;
    box-shadow: 0 3px 5px rgba(0,0,0,0.1);
    padding: 12px;
    margin: 12px;
}
.progress {
    margin: 10px 0;
    border-radius: 10px;
    background-color: #dddddd;
    padding: 0;
}
.progress-bar {
     background-color: #57CE42;
 }
.percentage {
    font-family:'Open Sans', sans-serif;
    font-weight: 700;
}

.bizmap-sections img {
    min-width: 80px;
}
.disabled {
    opacity: 0.4;
}
.disabled a:hover {
    color: #4E88FE;
    cursor: default;
}
.level-block, .challenge-block {
    max-width: 132px;
}
.level-block img, .challenge-block img {
    max-width: 82px;
}

/* end DASHBOARD */

/* PARENT DASHBOARD */
.kid-card .card {
    height: 100%;
    background-color: #edf3ff;
}
.img-icon {
    padding: 5px;
    width: 85%;
}
.img-completed {
    max-width: 72px;
}
.challenges {
    min-height: 220px;
}

#addAccount .modal-header {
    width: 100%;
}
/* end PARENT DASHBOARD */

/* CHALLENGE*/
.media img {
    max-width: 80px;
}
.modal .media {
    border: 2px solid #FEA739;
    border-radius: 15px;
}
.alert {
    margin-bottom: 0;
    padding: 0.5rem 0.5rem;
}
.alert-secondary {
    border: 2px solid #FEA739;
    background: #ffffff;
}
.challenge-block {
    max-width: 132px;
    padding: 0 5px;
}
.challenge-title {
    height: 38px;
    padding: 0 5px 0 5px;
}
/* end CHALLENGE*/

/* expand-collapse MENU*/
.navbar-global .navbar-user > li > a {
    color: white;
}
.navbar-primary {
    height: 100%;
    background-color: #ffffff;
    bottom: 0;
    left: 0;
    position: fixed;
    padding-top: 72px;
    width: 200px;
    z-index: 8;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.navbar-primary.collapsed {
    width: 60px;
}
.navbar-primary.collapsed .glyphicon {
    font-size: 22px;
}
.navbar-primary.collapsed .nav-label {
    display: none;
}
.btn-expand-collapse {
    position: absolute;
    bottom: 0;
    display: block;
    width: 100%;
    height: 82px;
    padding: 8px 0;
    border-top:solid 1px #4E88FE;
    color: #4E88FE;
    font-size: 45px;
    text-align: center;
    overflow: hidden;
    z-index: 5;
    background-color: #ffffff;
}
.btn-expand-collapse:hover {
    background-color: #f1f1f1;
    color: #0b37fe;
}
.navbar-primary-menu,
.navbar-primary-menu li {
    margin:0; padding:0;
    list-style: none;
}

.navbar-primary-menu li a {
    display: block;
    padding: 8px;
    text-align: center;
    color: #4E88FE;
}
.navbar-primary-menu li a:hover {
    background-color: #f1f1f1;
    text-decoration: none;
    color: #0b37fe;
}

.main-content {
    height:auto;
    margin: 72px 20px 20px 220px;
    padding-top: 30px;
    bottom: 0;
}

.guardian {
    height:auto;
    margin: 72px 20px 20px 20px;
    padding-top: 60px;
    bottom: 0;
}
.collapsed + .main-content {
    margin-left: 80px;
}
.img-size img {
    margin: 2em 0;
    width: 100%;
    max-width: 420px;
}
/*COURSE*/
.bs-wizard {margin-top: 20px;}
.bs-wizard {padding: 0 0 10px 0;}
.bs-wizard > .bs-wizard-step + .bs-wizard-step {}
.bs-wizard > .bs-wizard-step {padding: 0; position: relative; width: 50%;}
.bs-wizard > .bs-wizard-step .bs-wizard-stepnum {color: #595959; font-family: 'Dosis', sans-serif; font-size: 12px; margin-bottom: 5px;}
.bs-wizard > .bs-wizard-step .active .bs-wizard-stepnum {font-size: 14px;}
.bs-wizard > .bs-wizard-step a .bs-wizard-stepnum:hover {color: #0b37fe;}
.bs-wizard > .bs-wizard-step .bs-wizard-info {color: #999; font-size: 14px;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot {position: absolute; width: 30px; height: 30px; display: block; background: #fbe8aa; top: 45px; left: 50%; margin-top: -15px; margin-left: -15px; border-radius: 50%;}
.bs-wizard > .bs-wizard-step > .bs-wizard-dot:after {content: ' '; width: 14px; height: 14px; background: #fbbd19; border-radius: 50px; position: absolute; top: 8px; left: 8px; }
.bs-wizard > .bs-wizard-step > .progress {position: relative; border-radius: 0; height: 8px; box-shadow: none; margin: 20px 0; background-color: #dddddd;}
.bs-wizard > .bs-wizard-step > .progress > .progress-bar {width:0; box-shadow: none; background: #fbe8aa;}
.bs-wizard > .bs-wizard-step.complete > .progress > .progress-bar {width:100%;}
.bs-wizard > .bs-wizard-step.active > .progress > .progress-bar {width:50%;}
.bs-wizard > .bs-wizard-step:first-child.active > .progress > .progress-bar {width:0;}
.bs-wizard > .bs-wizard-step:last-child.active > .progress > .progress-bar {width: 100%;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot {background-color: #dddddd;}
.bs-wizard > .bs-wizard-step.disabled > .bs-wizard-dot:after {opacity: 0;}
.bs-wizard > .bs-wizard-step:first-child  > .progress {left: 50%; width: 50%;}
.bs-wizard > .bs-wizard-step:last-child  > .progress {width: 50%;}
.bs-wizard > .bs-wizard-step.disabled a.bs-wizard-dot{ pointer-events: none; }
/*COURSE*/
/*VIDEO*/
.video-container {
    position: relative;
    height: 0;
    overflow: hidden;
    margin-bottom: 3em;
}
/* 16x9 Aspect Ratio */
.video-container-16x9 {
    padding-bottom: 56.25%;
}
/* 4x3 Aspect Ratio */
.video-container-4x3 {
    padding-bottom: 75%;
}
.video-container iframe {
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
}
/*VIDEO*/
/* Quiz */
.score {
    font-family: 'Open Sans', sans-serif;
    font-size: 8em;
    font-weight: 800;
    margin-bottom: 60px;
}
/* end Quiz */
/* Modal */
.modal-dialog, .popup-dialog {
    width: 800px;
    max-width: 80%;
}
.modal-content {
    padding: 30px;
}
.modal-border{
    border: 10px solid;
}
.modal-content span {
    font-size: 36px;
}
.close {
    opacity: 1;
    color: #4E88FE;
}
.close:hover {
    opacity: 1;
    color: #0b37fe;
}
.modal-header, .popup-header {
    display: inline-block;
    border-bottom: none;
}
.modal-title {
    padding-top: 20px;
}

.modal-footer {
    display: inline-block;
    border-top: none;
}
/* end Modal */

/* Business Builder */
.d-flex a, .d-flex p {
    padding-left: 10px;
    padding-right: 10px;
}
/* end Business Builder */

/* Error page*/
.mt-8 {
    margin-top: 8em;
}
/* end Error page*/

/* STORY */
.story {
    margin-left: 20px;
    padding-top: 0;
}
.story img {
    max-width: 320px;
}
.vertical-align {
    display: inline-block;
}
/* end STORY */

/* ENTREPRENEURS */
.face-icon img {
    max-width: 90px;
}
.face-icon img:hover {
    border: 5px solid;
    border-radius: 70px;
}
.sandy img:hover {
    color: #d6609c;
}
.charlie img:hover {
    color: #6991ac;
}
/* end ENTREPRENEURS */

/* CANVAS */
.business-canvas {
    /*background: url('../img/BusinessCanvas_background.svg') top center no-repeat;*/
    background-size: cover;
    width: 100%;
    min-height: 2500px;
    padding-top: 90px;
}
.edit-answer {
    padding: 0 10px;
    margin: 0 10px;
}
.section-answer {
    margin-top: 50px;
    margin-bottom: 50px;
}
.section-answer:first-child {
    margin-top: 0;
}
/* end CANVAS */



/* CANVAS SECTIONS*/
.definition {
    background: url('../img/marvin_bubble.svg') top center no-repeat;
    background-size: contain;
    width: 100%;
    min-height: 500px;
    padding-top: 160px;
}
/* end CANVAS SECTIONS*/

/* Business map */
.img-level {
    max-width: 80px;
}
.start-level {
    max-height: 200px;
}
.end-level {
    max-height: 170px;
}
.step img {
    max-height: 168px;
}
.step-img {
    max-width: 100% !important;
}
.answer-box {
    border-radius: 15px;
    padding: 10px;
}
.l-1 {
    background-color: rgba(78,136,254,0.1);
}
.l-2 {
    background-color: rgba(254,167,57,0.2);
}
.l-3 {
    background-color: rgba(140,78,155,0.2);
}
.l-4 {
    background-color: rgba(101,200,208,0.2);
 }
.l-5 {
    background-color: rgba(254,97,93,0.2);
}
.l-6 {
    background-color: rgba(87,206,66,0.2);
}
.l-7 {
    background-color: rgba(239,204,58,0.2);
}

/* end Business map */

/* MEDIA QUERIES */
/* Medium devices (tablets, 768px and up) */
@media (max-width: 1024px) {
    .business-canvas {
        min-height: 1700px;
    }
}
@media (max-width: 768px) {
    .business-canvas {
        min-height: 1700px;
    }
}
@media (max-width: 562px) {
    .container-fluid{
        padding: 0;
    }
    .navbar-brand {
        margin: 0;
        padding-bottom: 0;
    }
    .navbar-brand img {
        max-width: 110px;
    }
    .logout_icon {
        width: 30px;
        height: 25px;
        background: url('../img/icon_logout.svg') center center no-repeat;
        background-size: contain;
    }
    .main-content {
        margin-left: 80px;
    }
    .story {
        margin-left: 20px;
    }
    .container-fluid .card {
        padding: 12px;
        text-align: center;
    }
    .guardian .container-fluid {
        padding: 12px;
    }
    .guardian {
        margin: 72px 10px 10px 10px;
    }
    .main-content, .guardian {
        padding-top: 10px;
        padding-bottom: 40px;
    }
    .container-fluid .video-container-16x9 {
        padding-bottom: 56.25%;
    }
    .mt-8 {
        margin-top: 5em;
    }
    .modal-content {
        padding: 10px;
    }
}
