<!DOCTYPE html>
<html lang="en">

<head >
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- other meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- page title -->
    <title>Home</title>

    <!-- Fav -->
    <link rel="icon" href="" type="image/png">


    <!-- main css -->
    <link href="../../public/css/kiddsbay_style.css" rel="stylesheet"  type='text/css'>
</head>

<body>
<div class="bg">
    <!-- navbar -->
    <nav class="navbar navbar-global fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="dashboard_kid.html">
                    <img alt="Kiddsbay logo" src="../../public/img/kiddsbay_logo.svg">
                </a>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <p class="navbar-text m-0">{Kid username}</p>
                <a class="navbar-text logout_icon" href="index_old.html"></a>
            </div>
        </div>
    </nav>
    <nav class="navbar-primary">
        <a href="#" class="btn-expand-collapse">></a>
        <ul class="navbar-primary-menu">
            <li>
                <a class="h4" href="dashboard_kid.html">
                    <img src="../../public/img/icon_home.svg">
                    <p class="nav-label">Home</p>
                </a>
                <a class="h4" href="academy_dashboard.html">
                    <img src="../../public/img/icon_academy.svg">
                    <p class="nav-label">Academy</p></a>
                <a class="h4" href="builder_dashboard.html">
                    <img src="../../public/img/icon_businessBuilder.svg">
                    <p class="nav-label">Business Builder</p>
                </a>
            </li>
        </ul>
    </nav>
    <div class="main-content">
        <div class="row container-fluid">
            <div class="dashboard-block col-lg-10 col-md-12 mx-auto">
                <h1 class="orange text-center">Academy</h1>
                <div class="container-fluid thumbnail card text-center">
                    <div class="row container-fluid">
                        <p class="col-sm-3 h4 text-center">Progress</p>
                        <div class="col-sm-7 progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="col-sm-2 h4 percentage">{%}</p>
                    </div>
                    <div class="">
                        <a class="btn btn-long btn-primary" href="academy_dashboard.html">Go to academy</a>
                    </div>
                </div>
            </div>
            <div class="dashboard-block col-lg-10 col-md-12 mx-auto">
                <h1 class="orange text-center">Business Builder</h1>
                <div class="container-fluid thumbnail card text-center">
                    <div class="row container-fluid">
                        <p class="col-sm-3 h4 text-center">Progress</p>
                        <div class="col-sm-7 progress">
                            <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>
                        <p class="col-sm-2 h4 percentage">{%}</p>
                    </div>
                    <div class="">
                        <a class="btn btn-long btn-primary" href="">Go to business builder</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

<!-- page scripts -->
<script>
    $('.btn-expand-collapse').click(function(e) {
        $('.navbar-primary').toggleClass('collapsed');
    });
</script>

</body>
</html>