<!DOCTYPE html>
<html lang="en">

<head >
    <!-- Required meta tags -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- other meta tags -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- page title -->
    <title>Home</title>

    <!-- Fav -->
    <link rel="icon" href="" type="image/png">

    <!-- main css -->
    <link href="../../public/css/kiddsbay_style.css" rel="stylesheet"  type='text/css'>
</head>

<body>
<div class="bg">
    <!-- navbar -->
    <nav class="navbar navbar-global fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="dashboard_kid.html">
                    <img alt="Kiddsbay logo" src="../../public/img/kiddsbay_logo.svg">
                </a>
            </div>
            <div class="d-flex justify-content-end align-items-center">
                <p class="navbar-text m-0">{Kid username}</p>
                <a class="navbar-text logout_icon" href="index_old.html"></a>
            </div>
        </div>
    </nav>
    <!-- content -->
    <div class="guardian">
        <div class="container-fluid">
            <div class="row dashboard-block col-lg-10 col-md-12 mx-auto">
                <h1 class="col-sm-8 orange">Linked accounts</h1>
                <div class="col-sm-4 text-right">
                    <a href="../signup_kid.html"><button class="btn btn-primary" type="button">Add account</button></a>
                </div>
                <!-- user block -->
                <div class="container-fluid thumbnail card">
                    <div class="row container-fluid">
                        <p class="col-md-4 username text-center h1">{username}</p>
                        <div class="col-md-8">
                            <div class="row">
                                <p class="col-md-3 h4">Academy</p>
                                <div class="col-md-8 col-sm-9 progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="col-md-1 col-sm-3 h4 percentage">{%}</p>
                            </div>
                            <div class="row">
                                <p class="col-md-3 h4">Business Builder</p>
                                <div class="col-md-8 col-sm-9 progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"></div>
                                </div>
                                <p class="col-md-1 col-sm-3 h4 percentage">{%}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>

</body>
</html>